<div style="padding: 0px 0px 0px 180px;overflow:auto" ng-controller="editPasswordCtrl">
    <div class="row" style="padding-left: 8px;"><h1>Edit Credential</h1></div>
    <form name="form">
        <div style="padding: 20px 200px 40px 0px;">
            <div class="form-group">
                <label for="username">Username:<span class="after" md-colors="{color: 'red'}">*</span>&emsp;&emsp;</label>
                <input ng-model="user.data.username" class="form-control" id="username" placeholder="Username" ng-change="checkForExistingUser()" md-colors="{background: (invalid)?'red':'grey-A100'}" ng-disabled="true" required>
            </div>
            <div class="form-group">
                <label for="password">Password<span class="after" md-colors="{color: 'red'}">*</span>&emsp;&emsp;</label>
                <input ng-model="user.data.password" class="form-control" id="password" placeholder="Enter password." required>
            </div>
            <div class="form-group">
                <label for="sector">Sector:<span class="after" md-colors="{color: 'red'}">*</span>&emsp;&emsp;</label>
                <md-select ng-model="user.data.sector" ng-change="checkForExistingUser()" required disabled>
                    <md-option ng-repeat="sector in sectors" value="{{sector}}">{{sector | uppercase}}</md-option>
                </md-select>
            </div>
            <div class="form-group">
                <label for="env">Environment:<span class="after" md-colors="{color: 'red'}">*</span>&emsp;&emsp;</label>
                <md-select ng-model="user.data.environment" required disabled>
                    <md-option ng-repeat="env in envs" value="{{env}}">{{env | uppercase}}</md-option>
                </md-select>
            </div>
            <div class="form-group">
                <label for="role">Allowed Roles:<span class="after" md-colors="{color: 'red'}">*</span>&emsp;&emsp;</label>
                <md-select multiple="true" ng-model="user.data.allowed_roles" ng-change="changeRestrictList(user.data.allowed_roles)" required>
                    <md-option ng-repeat="role in roles" value="{{role}}">{{role | uppercase}}</md-option>
                </md-select>
            </div>
            <div class="form-group">
                <label for="remark">Remark</label>
                <textarea ng-model="user.data.remark" class="form-control" id="remark" placeholder="Add some remark to help others know what this credential is about."></textarea>
            </div>
            <div class="form-group">
                <md-switch ng-model="user.data.restrictUsers" aria-label="Restrict access?">
                  Restrict access?
              </md-switch>
            </div>
            <div class="form-group" ng-if="user.data.restrictUsers">
                <label for="role">Allow access to selected users :<span class="after" md-colors="{color: 'red'}">*</span>&emsp;&emsp;</label>
                <md-select multiple="true" ng-model="user.data.allowed_users" required>
                    <md-option ng-repeat="usr in usrs.data" value="{{usr.name}} : {{getUserRole(usr)}}">{{getEmailName(usr) | uppercase}} : {{getUserRole(usr) | uppercase}}</md-option>
                </md-select>
            </div>
            <div>
                    <label md-colors="{color: 'red'}" ng-show="error">{{errorMsg}}</label>
            </div>
            <div class="row" style="margin-top: 50px;" ng-if="formStatus == 'Initial'">
                <div class="col-sm-1" class="tooltip-wrapper" title="Click to cancel and close">
                    <button type="button" class="btn btn-primary" ng-click="hideEditUserPopUp();">&nbsp;Cancel&nbsp;</button>
                </div>
                <div class="col-sm-1" style="margin-left: 500px;" class="tooltip-wrapper" title="Fill all Mendatory fields to enable this button">
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$error.required"  ng-click="editCredential()">Submit</button>
                </div>
            </div>
            <div class="container" ng-if="formStatus != 'Initial'" style="margin: 20px 0px 20px 140px;">
                <button class="btn btn-lg "><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Processing...</button>
            </div>
        </div>
    </form>
</div>
