<div class="container" style="margin-left: 20px;width: 980px" ng-cloak>
 <div style="padding-bottom: 20px;padding-right: 60px;position:fixed;background:white;z-index: 1">
        <div class="col-sm-1"><h2>CREDENTIALS</h2></div>
        <div class="col-sm-1" style="margin: 25px 0px 0px 500px;"><button ng-if="isAdmin()" type="button" class="btn btn-primary" ng-click="addMultiple($event)">+ ADD MULTIPLE</button></div>
        <div class="col-sm-1" style="margin: 25px 0px 0px 70px;"><button ng-if="isAdmin()" type="button" class="btn btn-primary" ng-click="addUser($event)">+ ADD NEW CREDENTIAL</button></div>
  </div>
  <table class="table" style="margin-left:15px;margin-top:100px;">
    <thead >
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Team</th>
        <th>Sector</th>
        <th>Environment</th>
        <th ng-if="isAdmin()">Allowed Roles</th>
        <th ng-if="isAdmin()">Allowed Users</th>
        <th ng-if="isAdmin()">Edit</th>
        <th ng-if="isAdmin()"><span ng-show="!isIndeterminate() && !isChecked() || passwords.length == 0">Delete</span><span><a href="#" ng-show="isIndeterminate() || isChecked() && !passwords.length == 0" ng-click="deleteAllSelected($event)">Delete</a></span>&nbsp;&nbsp;&nbsp;
            <md-checkbox style="position: absolute;"
                         ng-checked="isChecked()"
                         md-indeterminate="isIndeterminate()"
                         ng-click="toggleAll()" ng-show="!passwords.length == 0">
            </md-checkbox>
        </th>
      </tr>
    </thead>
    <tbody ng-repeat="password in passwords | orderBy:'username'" ng-init="showRemark = false">
      <tr class="tooltip-wrapper" title="Created By : {{password.createdBy}}" ng-click="showRemark = !showRemark">
        <td>{{password.username}}</td>
        <td>{{password.password}}</td>
        <td>{{password.team}}</td>
        <td>{{password.sector}}</td>
        <td>{{password.environment}}</td>
        <td ng-if="isAdmin() && !password.readonly"><div ng-repeat="role in password.allowed_roles">{{role}}</div></td>
        <td ng-if="isAdmin() && password.restrictUsers && !password.readonly"><div ng-repeat="usr in password.allowed_users">{{usr}}</div></td>
        <td ng-if="isAdmin() && !password.restrictUsers  && !password.readonly">All</td>
        <td ng-if="isAdmin() && !password.readonly"><a href="#" ng-click="editUser($event,password)">
          <span class="glyphicon glyphicon-pencil"></span>
        </a></td>
        <td ng-if="isAdmin() && !password.readonly"><a href="#" ng-click="deleteUser($event,password)">
            <span class="glyphicon glyphicon-trash"></span>
            </a>&nbsp;&nbsp;&nbsp;
            <md-checkbox style="position: absolute;"
                         ng-checked="exists(password, selected)"
                         ng-click="toggle(password, selected)">
            </md-checkbox>
        </td>
      </tr>
      <tr ng-if="password.remark" ng-show="showRemark" style="background-color: lightblue;">
        <td colspan="8" style="border-radius: 5px;">
          <b>Remark :</b>&nbsp; {{password.remark}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
