h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

/*body {
    overflow:hidden;
}*/

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.homeClass {
    height: 30px;
    width: 100px;
    margin-left: 38px;
    background-color: #33738E;
    font-size: 18px;
    display: block;
    font-weight: bold;
    color: white;
}

  .aTable {
        width: 800px;
        font-size: 15px;
  }
  .aTable th {
      padding: 5px 5px 0px 5px;
      text-align: right;
  }
  .aTable td {
      padding: 5px 0px 0px 5px;
      text-align: left;
  }
