<div style="padding: 0px 0px 0px 180px;" ng-controller="sshResetPasswordCtrl">
    <div class="row" style="padding-left: 8px;"><h1>Reset Password</h1></div>
    <div>
        <form name="form">
            <div style="padding: 20px 200px 40px 0px;">
              <div class="form-group">
                  <label for="newPassword">New Password:<span class="after" md-colors="{color: 'red'}">*</span>&emsp;&emsp;</label>
                  <input type="password" ng-model="user.newPassword" class="form-control" id="newPassword" placeholder="New password" ng-required="required">
              </div>
              <div class="form-group">
                  <label for="confirmPassword">Confirm Password: <span class="after" md-colors="{color: 'red'}">*</span></label>
                  <input type="password" ng-model="user.confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password" ng-required="required">
              </div>
              <div class="form-group">
                  <label for="error" md-colors="{color: 'red'}" ng-show="error">{{errorMsg}}</label>
              </div>
              <div class="row" style="margin-top: 50px;" ng-if="formStatus == 'Initial'">
                  <div class="col-sm-1" style="margin-left: 500px;" class="tooltip-wrapper" title="Fill all Mendatory fields to enable this button">
                      <button type="submit" class="btn btn-primary" ng-disabled="form.$error.required || formStatus != 'Initial'"  ng-click="reset()">Reset Password</button>
                  </div>
              </div>
          </div>
        </form>
    </div>
</div>
