<md-dialog aria-label="Generate OTP">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Generate OTP</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <div style="margin: 20px 20px 20px 20px;width: 600px">
            <table>
                <tr>
                    <td><span style="margin-left: 20px;"><b>IP&nbsp;:</b></span></td>
                    <td>
                      <select  ng-model="ipdata.ip" ng-required="true" style="margin-left: 40px" class="form-control">
                        <option ng-repeat="(key,value) in ipSets" value="{{value}}">
                          {{key}}&nbsp;:&nbsp;{{value}}
                        </option>
                      </select>
                    </td>
                </tr>
            </table>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <span flex></span>
      <md-button ng-click="submit(ipdata)" md-autofocus>
        Generate OTP
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
