<div style="padding: 0px 0px 0px 180px;overflow:auto" ng-controller="addMultiplePasswordsCtrl">
    <form name="form">
        <div style="padding: 20px 200px 40px 0px;">
          <div class="form-group">
              <label for="data">All columns tab seperated or to be copied from Excelsheet.</label>
              <label for="data">Username<span class="after" md-colors="{color: 'red'}">*</span>&emsp;Password<span class="after" md-colors="{color: 'red'}">*</span>&emsp;Sector<span class="after" md-colors="{color: 'red'}">*</span>&emsp;Environment<span class="after" md-colors="{color: 'red'}">*</span>&emsp;Allowed_roles<span class="after" md-colors="{color: 'red'}">*</span>&emsp;Remark</label>
              <textarea ng-model="data.custom" class="form-control" id="data" placeholder="Custom Data" ng-trim="true" rows="15" cols="200" required></textarea>
          </div>
          <div class="row" style="margin-top: 50px;" ng-if="formStatus == 'Initial'">
              <div class="col-sm-1" class="tooltip-wrapper" title="Click to cancel and close">
                  <button type="submit" class="btn btn-primary" ng-click="hideCreateUserPopUp();">&nbsp;Cancel&nbsp;</button>
              </div>
              <div class="col-sm-1" style="margin-left: 500px;" class="tooltip-wrapper" title="Fill all Mendatory fields to enable this button">
                  <button type="submit" class="btn btn-primary" ng-disabled="form.$error.required"  ng-click="createMultiple()">Create Credentials</button>
              </div>
          </div>
          <div class="container" ng-if="formStatus != 'Initial'" style="margin: 20px 0px 20px 140px;">
              <button class="btn btn-lg "><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Processing...</button>
          </div>
        </div>
    </form>
</div>
